html, body{
	width: 200px;
	text-align: center;
}
h1{
	margin-top: -10px;
	margin-left: -10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(255,0,0,0.5);
	font-family: Arial;
	font-size: 35px;
}
ul{
	list-style-type: none;
	font-size: 1.7em;
	text-align: center;
	padding: 0px;
    margin: 0px;
}
li{
	margin-bottom: 5px;
}
